page-history-page {
  ion-item{
    white-space: normal !important;
  }
}

.hstlist{
  margin-top: 55px;
}

#history {
  .infobtn2{
    color:inherit;
  }
  .historybtn2 {
      color: #006600;
    }
}
